<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Suite" parallel="tests">

	<listeners>
		<listener class-name="ExtentReportListener.ExtentReporterNG" />
	</listeners>

	<test name="mydukaan tests">
	<classes>
		<class name="com.qa.tests.LoginPageTest"></class>
	
	    <class name="com.qa.tests.HomePageTest"></class>
	
	
	</classes>

		
	</test>
	
</suite>
